2+3

In [1]:
2+3

5

# print ('hello')

In [3]:
x=10

In [4]:
x

10

In [5]:
y='hello'

In [6]:
y

'hello'

In [7]:
x=y+1

TypeError: must be str, not int

In [8]:
print(x,y)

10 hello

In [9]:
x='10'
x+y

'10hello'

In [10]:
x=10
print(str(x)+y)

10hello

In [11]:
str(x)+y

'10hello'

In [12]:
help

Type help() for interactive help, or help(object) for help about object.

In [13]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

help> pass
The "pass" statement
********************

   pass_stmt ::= "pass"

"pass" is a null operation --- when it is executed, nothing happens.
It is useful as a placeholder when a statement is required
syntactically, but no code needs to be executed, for example:

   def f(arg): pass    # a function that does nothing (yet)

   class C: pass       # a class with no methods (yet)

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [14]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

huh

# hi everyone

In [15]:
l=[]

In [16]:
type(l)

list

In [17]:
l=[1,2,3,4,5]

In [18]:
l

[1, 2, 3, 4, 5]

In [19]:
print(l)

[1, 2, 3, 4, 5]

In [20]:
lx=['a','b']

In [21]:
ly=[1,2,'a','b']

In [22]:
ly

[1, 2, 'a', 'b']

In [23]:
l+lx

[1, 2, 3, 4, 5, 'a', 'b']

In [24]:
L=l+lx

In [25]:
L

[1, 2, 3, 4, 5, 'a', 'b']

plus operator is overloaded as concatenation of two list and not addition of corresponding elements of lists

In [26]:
m=l.copy()

In [27]:
m

[1, 2, 3, 4, 5]

l.extend()  --> press shift+tab within brackets to see what is the function about

In [28]:
l.append('a')

In [29]:
l

[1, 2, 3, 4, 5, 'a']

In [30]:
l.append('b','c')

TypeError: append() takes exactly one argument (2 given)

In [31]:
a=['b','c','d']
l.append(a)

In [32]:
l

[1, 2, 3, 4, 5, 'a', ['b', 'c', 'd']]

In [33]:
l.extend(a)

In [34]:
l

[1, 2, 3, 4, 5, 'a', ['b', 'c', 'd'], 'b', 'c', 'd']


# DICTIONARY

In [35]:
d={}

In [36]:
type(
d)

dict

In [37]:
type(d)

dict

In [38]:
type(
    d)

dict

In [39]:
del lx

In [40]:
lx

In [43]:
d={ 'key1': 10, 'key2':11}

In [44]:
d

{'key1': 10, 'key2': 11}

In [45]:
d.update('key1':12)

SyntaxError: invalid syntax (<ipython-input-45-e81cdfe2d84e>, line 1)

In [50]:
student1 ={'name':'kriti', 'age':27}

In [51]:
student1

{'name': 'kriti', 'age': 27}

In [48]:
student2={'name':'aks', 'age':28}

In [49]:
student2

{'name': 'aks', 'age': 28}

In [52]:
school={student1, student2}

TypeError: unhashable type: 'dict'

In [55]:
school = {'student1':"{'name':'kriti', 'age':27}"}

In [56]:
school

{'student1': "{'name':'kriti', 'age':27}"}

In [57]:
school={'student1':student1, 'student2':student2}

In [58]:
school

{'student1': {'name': 'kriti', 'age': 27},
 'student2': {'name': 'aks', 'age': 28}}

In [59]:
school.update ({'student3':{'name':'shruti','age':27}})

In [60]:
school

{'student1': {'name': 'kriti', 'age': 27},
 'student2': {'name': 'aks', 'age': 28},
 'student3': {'name': 'shruti', 'age': 27}}

In [61]:
school.update ({'student3':{'parent':'sanjeev','age':27}})

In [62]:
school

{'student1': {'name': 'kriti', 'age': 27},
 'student2': {'name': 'aks', 'age': 28},
 'student3': {'parent': 'sanjeev', 'age': 27}}

In [63]:
l

[1, 2, 3, 4, 5, 'a', ['b', 'c', 'd'], 'b', 'c', 'd']

In [65]:
l.append(school)

In [66]:
l

[1,
 2,
 3,
 4,
 5,
 'a',
 ['b', 'c', 'd'],
 'b',
 'c',
 'd',
 {'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}}]

In [67]:
L

[1, 2, 3, 4, 5, 'a', 'b']

In [68]:
L.remove(5)

In [69]:
l

[1,
 2,
 3,
 4,
 5,
 'a',
 ['b', 'c', 'd'],
 'b',
 'c',
 'd',
 {'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}}]

In [70]:
L

[1, 2, 3, 4, 'a', 'b']

In [71]:
L.remove(L.index(3))

In [72]:
L

[1, 3, 4, 'a', 'b']

In [73]:
L.index(3)

1

In [74]:
L.index(L[2])

2

In [75]:
L.remove(L[2])

In [76]:
L

[1, 3, 'a', 'b']

In [77]:
l

[1,
 2,
 3,
 4,
 5,
 'a',
 ['b', 'c', 'd'],
 'b',
 'c',
 'd',
 {'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}}]

In [78]:
l[0:6]

[1, 2, 3, 4, 5, 'a']

In [79]:
l[3:6]

[4, 5, 'a']

In [80]:
l.remove(l[3:6])

ValueError: list.remove(x): x not in list

In [81]:
l[:]

[1,
 2,
 3,
 4,
 5,
 'a',
 ['b', 'c', 'd'],
 'b',
 'c',
 'd',
 {'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}}]

# l[start:end]
OR
l[start:end:step_size]

In [82]:
l[::2]

[1,
 3,
 5,
 ['b', 'c', 'd'],
 'c',
 {'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}}]

In [83]:
l[::-1]

[{'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}},
 'd',
 'c',
 'b',
 ['b', 'c', 'd'],
 'a',
 5,
 4,
 3,
 2,
 1]

In [84]:
l[:3:2]

[1, 3]

In [85]:
"hello"

'hello'

In [86]:
'hello'

'hello'

you can write string either way

In [87]:
s='hello
'

SyntaxError: EOL while scanning string literal (<ipython-input-87-b4c9e93dd8b8>, line 1)

In [88]:
s='hello'

In [89]:
type(s)

str

In [90]:
s[::-1]

'olleh'

In [91]:
s[:-1]

'hell'

In [92]:
s[-1:]

'o'

In [93]:
s[-2:]

'lo'

In [94]:
tuple

tuple

In [95]:
t=()
type(t)

tuple

In [96]:
t.type()

AttributeError: 'tuple' object has no attribute 'type'

In [97]:
t=(1,2,3)

In [98]:
t=(l)

In [99]:
t

[1,
 2,
 3,
 4,
 5,
 'a',
 ['b', 'c', 'd'],
 'b',
 'c',
 'd',
 {'student1': {'name': 'kriti', 'age': 27},
  'student2': {'name': 'aks', 'age': 28},
  'student3': {'parent': 'sanjeev', 'age': 27}}]

In [100]:
type(t)

list

you cannot modify anything in a tuple

In [101]:
map()

TypeError: map() must have at least two arguments.

In [102]:
s

'hello'

In [ ]:
s.