In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
sample = np.random.randn(101)

In [6]:
seed = np.random.seed(50)

In [7]:
np.random.randn(101)

array([-1.56035211, -0.0309776 , -0.62092842, -1.46458049,  1.41194612,
       -0.47673214, -0.78046921,  1.07026774, -1.2822926 , -1.3274789 ,
        0.12633764,  0.86219372,  0.69673696, -0.33456518, -0.99752606,
        1.59890829,  3.31407535,  0.98777046,  0.12386626,  0.74278539,
       -0.39395585,  0.14811582, -0.41223445, -0.16071506,  0.13953147,
        0.28546937, -0.28126199,  1.71090732, -0.14976664,  0.69030672,
        1.09520951,  1.3384087 , -1.36898167,  0.48642763,  0.75352168,
        0.36346459, -0.31471048,  1.37328117, -0.62441716,  0.375754  ,
       -0.20041632,  0.74303806,  0.85736196, -1.50618929, -1.66635217,
       -0.2189948 , -0.35885843,  0.37852769,  0.68421537, -1.16785607,
       -0.79321662, -0.0388354 ,  2.70525499, -1.49138851,  0.09597793,
        0.52468671,  0.8156655 ,  0.0515058 , -0.16455536,  0.27819942,
        0.0871147 ,  0.03426837,  0.74656892, -0.94363758, -0.24577667,
        1.10812096,  0.03900789, -0.21326669, -0.89095461, -0.27064634,
        0.22224372,  0.2518136 ,  0.70792609,  0.49398983,  1.47100167,
       -0.58261947,  2.06581949,  1.08783389,  0.80518904, -1.58788484,
        1.2308855 , -2.37345338, -0.03111097, -3.80989038, -0.19904969,
        0.35043074, -0.05255078, -0.63428108, -0.36293111, -2.57091976,
        0.13751474, -0.71929619,  0.72852289,  1.62174549,  1.52166225,
       -1.30677343, -0.8897683 ,  0.00526774,  0.86642487, -0.53553558,
       -0.25814892])

In [8]:
df = pd.DataFrame(randn(5,4), index= 'A B C D E'.split(), columns= 'W X Y Z'.split())

In [9]:
'w x y z'.split()

['w', 'x', 'y', 'z']

In [10]:
df

          W         X         Y         Z
A  0.047156 -0.427065 -0.121233 -0.168575
B -0.195899 -0.193343  0.296630 -0.760245
C -2.444716 -0.530537  0.842346 -0.164786
D -1.284102  0.200171  0.848509 -1.709845
E -1.583669 -1.100490 -1.157258  1.808045

In [11]:
#dataframe is like a table/view in sql

In [14]:
df[W]

NameError: name 'W' is not defined

In [15]:
df['W']

A    0.047156
B   -0.195899
C   -2.444716
D   -1.284102
E   -1.583669
Name: W, dtype: float64

In [16]:
df['W', 'Y']

KeyError: ('W', 'Y')

In [17]:
df[['W','Y']]
#we can pass a list

          W         Y
A  0.047156 -0.121233
B -0.195899  0.296630
C -2.444716  0.842346
D -1.284102  0.848509
E -1.583669 -1.157258

In [19]:
df['W Y'.split()]

          W         Y
A  0.047156 -0.121233
B -0.195899  0.296630
C -2.444716  0.842346
D -1.284102  0.848509
E -1.583669 -1.157258

In [20]:
df.W

A    0.047156
B   -0.195899
C   -2.444716
D   -1.284102
E   -1.583669
Name: W, dtype: float64

In [21]:
type(df.W)

pandas.core.series.Series

In [23]:
df['new'] =  df['Y'] + df['Z']

In [24]:
df

          W         X         Y         Z       new
A  0.047156 -0.427065 -0.121233 -0.168575 -0.289808
B -0.195899 -0.193343  0.296630 -0.760245 -0.463615
C -2.444716 -0.530537  0.842346 -0.164786  0.677560
D -1.284102  0.200171  0.848509 -1.709845 -0.861336
E -1.583669 -1.100490 -1.157258  1.808045  0.650787

In [25]:
df['new']= range(5)

In [26]:
df

          W         X         Y         Z  new
A  0.047156 -0.427065 -0.121233 -0.168575    0
B -0.195899 -0.193343  0.296630 -0.760245    1
C -2.444716 -0.530537  0.842346 -0.164786    2
D -1.284102  0.200171  0.848509 -1.709845    3
E -1.583669 -1.100490 -1.157258  1.808045    4

In [27]:
df.drop('new')

KeyError: "labels ['new'] not contained in axis"

In [28]:
df.drop('new', axis=1)

          W         X         Y         Z
A  0.047156 -0.427065 -0.121233 -0.168575
B -0.195899 -0.193343  0.296630 -0.760245
C -2.444716 -0.530537  0.842346 -0.164786
D -1.284102  0.200171  0.848509 -1.709845
E -1.583669 -1.100490 -1.157258  1.808045

In [29]:
df

          W         X         Y         Z  new
A  0.047156 -0.427065 -0.121233 -0.168575    0
B -0.195899 -0.193343  0.296630 -0.760245    1
C -2.444716 -0.530537  0.842346 -0.164786    2
D -1.284102  0.200171  0.848509 -1.709845    3
E -1.583669 -1.100490 -1.157258  1.808045    4

In [30]:
df.drop('new', axis=1, inplace=True)

In [31]:
df

          W         X         Y         Z
A  0.047156 -0.427065 -0.121233 -0.168575
B -0.195899 -0.193343  0.296630 -0.760245
C -2.444716 -0.530537  0.842346 -0.164786
D -1.284102  0.200171  0.848509 -1.709845
E -1.583669 -1.100490 -1.157258  1.808045

In [32]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [33]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [35]:
df.loc['A']

W    0.047156
X   -0.427065
Y   -0.121233
Z   -0.168575
Name: A, dtype: float64

In [37]:
df.loc[['A','B']]

          W         X         Y         Z
A  0.047156 -0.427065 -0.121233 -0.168575
B -0.195899 -0.193343  0.296630 -0.760245

In [38]:
df.iloc[2]

W   -2.444716
X   -0.530537
Y    0.842346
Z   -0.164786
Name: C, dtype: float64

In [39]:
df.iloc[2]['W']

-2.4447157823791836

In [40]:
df['W']['C']

-2.4447157823791836

In [41]:
df.loc['A']['Y']

-0.12123296579073112

In [42]:
df.iloc[3:]

          W         X         Y         Z
D -1.284102  0.200171  0.848509 -1.709845
E -1.583669 -1.100490 -1.157258  1.808045

In [43]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.047156 -0.121233
B -0.195899  0.296630

In [45]:
df.iloc[1,1]

-0.1933431172633125

df>1

In [46]:
df>1

       W      X      Y      Z
A  False  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False  False   True

In [47]:
#boolean dataframe

In [48]:
type(df>0.5)

pandas.core.frame.DataFrame

In [49]:
#any operation on datframe returns a dataframe

In [50]:
df[df>0.5]

    W   X         Y         Z
A NaN NaN       NaN       NaN
B NaN NaN       NaN       NaN
C NaN NaN  0.842346       NaN
D NaN NaN  0.848509       NaN
E NaN NaN       NaN  1.808045

In [51]:
df['W']>0.5

A    False
B    False
C    False
D    False
E    False
Name: W, dtype: bool

In [54]:
df['W']>-0.2

A     True
B     True
C    False
D    False
E    False
Name: W, dtype: bool

In [55]:
df[df['W']>-0.2]

          W         X         Y         Z
A  0.047156 -0.427065 -0.121233 -0.168575
B -0.195899 -0.193343  0.296630 -0.760245

In [58]:
df[df['W']>-0.2]['Y']

A   -0.121233
B    0.296630
Name: Y, dtype: float64

In [59]:
df[df.loc['C']>0]

/home/kriti/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [60]:
df.loc['C']>0

W    False
X    False
Y     True
Z    False
Name: C, dtype: bool

In [61]:
type(df.loc['C'])

pandas.core.series.Series

In [62]:
type(df.loc['C']>0)

pandas.core.series.Series

In [63]:
#df[<list here>] or df[<list of columns here>] or df[<dataframe here>]

In [64]:
df['W']>0

A     True
B    False
C    False
D    False
E    False
Name: W, dtype: bool

In [66]:
df['Y']>0.5

A    False
B    False
C     True
D     True
E    False
Name: Y, dtype: bool

In [67]:
df[(df['W']>0) & (df['Y']>0.5)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [69]:
df[(df['W']>0) | (df['Y']>0.5)]

          W         X         Y         Z
A  0.047156 -0.427065 -0.121233 -0.168575
C -2.444716 -0.530537  0.842346 -0.164786
D -1.284102  0.200171  0.848509 -1.709845

In [70]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.047156 -0.427065 -0.121233 -0.168575
1     B -0.195899 -0.193343  0.296630 -0.760245
2     C -2.444716 -0.530537  0.842346 -0.164786
3     D -1.284102  0.200171  0.848509 -1.709845
4     E -1.583669 -1.100490 -1.157258  1.808045

In [71]:
#df.reset_index(inplace=1)

In [72]:
new_ind= 'ab cd ef gh ij'.split()

In [73]:
new_ind

['ab', 'cd', 'ef', 'gh', 'ij']

In [74]:
df['new']= new_ind

In [75]:
df

          W         X         Y         Z new
A  0.047156 -0.427065 -0.121233 -0.168575  ab
B -0.195899 -0.193343  0.296630 -0.760245  cd
C -2.444716 -0.530537  0.842346 -0.164786  ef
D -1.284102  0.200171  0.848509 -1.709845  gh
E -1.583669 -1.100490 -1.157258  1.808045  ij

In [76]:
df.set_index('new')

            W         X         Y         Z
new
ab   0.047156 -0.427065 -0.121233 -0.168575
cd  -0.195899 -0.193343  0.296630 -0.760245
ef  -2.444716 -0.530537  0.842346 -0.164786
gh  -1.284102  0.200171  0.848509 -1.709845
ij  -1.583669 -1.100490 -1.157258  1.808045

In [77]:
df.set_index('new', drop=False)

            W         X         Y         Z new
new
ab   0.047156 -0.427065 -0.121233 -0.168575  ab
cd  -0.195899 -0.193343  0.296630 -0.760245  cd
ef  -2.444716 -0.530537  0.842346 -0.164786  ef
gh  -1.284102  0.200171  0.848509 -1.709845  gh
ij  -1.583669 -1.100490 -1.157258  1.808045  ij

In [78]:
df.set_index('new', append=True)

              W         X         Y         Z
  new
A ab   0.047156 -0.427065 -0.121233 -0.168575
B cd  -0.195899 -0.193343  0.296630 -0.760245
C ef  -2.444716 -0.530537  0.842346 -0.164786
D gh  -1.284102  0.200171  0.848509 -1.709845
E ij  -1.583669 -1.100490 -1.157258  1.808045

In [79]:
#MULTI INDEX AND INDEX HIEARCHY

In [80]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]

In [81]:
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 0)]

In [82]:
l2=[6,7,8,9]

In [83]:
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9)]

In [84]:
#list zip is done till the smallest number

In [89]:
outside = ['G1', 'G1', 'G1','G2', 'G2', 'G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [90]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [91]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index, columns=['A','B'])

In [92]:
df

             A         B
G1 1 -1.111179  0.870415
   2  0.748973  0.709533
   3  0.316149 -0.778214
G2 1 -0.535962 -1.173832
   2 -0.934796 -1.100040
   3 -0.027994 -0.640622

In [93]:
df.index.names

FrozenList([None, None])

In [94]:
df.index.names=['group','number']

In [95]:
df

                     A         B
group number
G1    1      -1.111179  0.870415
      2       0.748973  0.709533
      3       0.316149 -0.778214
G2    1      -0.535962 -1.173832
      2      -0.934796 -1.100040
      3      -0.027994 -0.640622

In [96]:
df.xs('G1')

               A         B
number
1      -1.111179  0.870415
2       0.748973  0.709533
3       0.316149 -0.778214

In [97]:
type(df.xs('G1'))

pandas.core.frame.DataFrame

In [101]:
df.xs(('G1',2))

A    0.748973
B    0.709533
Name: (G1, 2), dtype: float64

In [104]:
df.xs(1,level='number')

              A         B
group
G1    -1.111179  0.870415
G2    -0.535962 -1.173832