In [1]:
lst= [1,2,3,4,5]

In [2]:
lst = range(10)

In [3]:
lst

range(0, 10)

In [4]:
type(lst)

range

In [5]:
#lst is of type range

In [6]:
list (lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#typecasting lst from range to list

In [8]:
lst

range(0, 10)

In [9]:
#but the changes were not saved into something, thats why its still a range

In [10]:
lst = list(lst)

In [11]:
type(lst)

list

In [12]:
#now the type has been successfully changed to list

In [13]:
for i in lst:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
'man' in 'maneesh'

True

In [16]:
#in operator can be applied on any iterable object

In [17]:
iter('maneesh')

In [19]:
for i in iter('maneesh'):
    print(i)

m
a
n
e
e
s
h

In [20]:
#iter() returns iterable type of any object

In [21]:
#single line comment
'''multiple line comment
jcnk
cdcckjnck
fnvlkl'''

'multiple line comment\njcnk\ncdcckjnck\nfnvlkl'

In [22]:
'''can also be used to assign value to string and not use double quotes"abc" '''

'can also be used to assign value to string and not use double quotes"abc" '

In [34]:
s = "The mistle thrush (Turdus viscivorus) is a bird common to much of Europe, Asia and North Africa. It is a year-round resident in much of its range, but northern and eastern populations migrate south for the winter, often in small flocks. It is a large thrush with pale grey-brown upperparts, a greyish-white chin and throat, and black spots on its pale yellow and off-white underparts. The sexes are similar in plumage, and its three subspecies show only minimal differences. The male's loud song is delivered even in wet and windy weather, earning the bird the old name of "stormcock". Found in open woods, parks, hedges and cultivated land, the mistle thrush feeds on a wide variety of invertebrates, seeds and berries, especially mistletoe, holly and yew fruits. It defends its open cup nest fearlessly against potential predators, sometimes including humans or cats. Following a large range expansion in the 18th and early 19th centuries, there has been a small decline in recent decades, perhaps due to changes in agricultural practices.#$"

SyntaxError: invalid syntax (<ipython-input-34-cb8b67f81a87>, line 1)

In [25]:
#see above, something has gone wrong using ""

In [38]:
s= '''The mistle thrush (Turdus viscivorus) is a bird common to much of Europe, Asia and North Africa. It is a year-round resident in much of its range, but northern and eastern populations migrate south for the winter, often in small flocks. It is a large thrush with pale grey-brown upperparts, a greyish-white chin and throat, and black spots on its pale yellow and off-white underparts. The sexes are similar in plumage, and its three subspecies show only minimal differences. The male's loud song is delivered even in wet and windy weather, earning the bird the old name of "stormcock". Found in open woods, parks, hedges and cultivated land, the mistle thrush feeds on a wide variety of invertebrates, seeds and berries, especially mistletoe, holly and yew fruits. It defends its open cup nest fearlessly against potential predators, sometimes including humans or cats. Following a large range expansion in the 18th and early 19th centuries, there has been a small decline in recent decades, perhaps due to changes in agricultural practices.#$ '''

In [39]:
s

'The mistle thrush (Turdus viscivorus) is a bird common to much of Europe, Asia and North Africa. It is a year-round resident in much of its range, but northern and eastern populations migrate south for the winter, often in small flocks. It is a large thrush with pale grey-brown upperparts, a greyish-white chin and throat, and black spots on its pale yellow and off-white underparts. The sexes are similar in plumage, and its three subspecies show only minimal differences. The male\'s loud song is delivered even in wet and windy weather, earning the bird the old name of "stormcock". Found in open woods, parks, hedges and cultivated land, the mistle thrush feeds on a wide variety of invertebrates, seeds and berries, especially mistletoe, holly and yew fruits. It defends its open cup nest fearlessly against potential predators, sometimes including humans or cats. Following a large range expansion in the 18th and early 19th centuries, there has been a small decline in recent decades, perhaps due to changes in agricultural practices.#$ '

In [28]:
#using '''abc''' is easy

In [29]:
#specially used when assigning large douments/text to a variable

In [40]:
bytes(s,'utf-8')

b'The mistle thrush (Turdus viscivorus) is a bird common to much of Europe, Asia and North Africa. It is a year-round resident in much of its range, but northern and eastern populations migrate south for the winter, often in small flocks. It is a large thrush with pale grey-brown upperparts, a greyish-white chin and throat, and black spots on its pale yellow and off-white underparts. The sexes are similar in plumage, and its three subspecies show only minimal differences. The male\'s loud song is delivered even in wet and windy weather, earning the bird the old name of "stormcock". Found in open woods, parks, hedges and cultivated land, the mistle thrush feeds on a wide variety of invertebrates, seeds and berries, especially mistletoe, holly and yew fruits. It defends its open cup nest fearlessly against potential predators, sometimes including humans or cats. Following a large range expansion in the 18th and early 19th centuries, there has been a small decline in recent decades, perhaps due to changes in agricultural practices.#$ '

In [41]:
bytes(lst)

b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t'

In [42]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
bytes(lst)

b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t'

In [44]:
bytes(range(10))

b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t'

In [45]:
#encoding is to be given with string

In [46]:
txt="jknkbhjblkbsx".encode('utf-8')

In [47]:
txt

b'jknkbhjblkbsx'

In [49]:
# https://docs.python.org/2.4/lib/standard-encodings.html

In [67]:
e= []
o=[]
for i in lst:
    if (i%2==0):
        e.append(i)
    else:
        o.append(i)

In [68]:
e

[0, 2, 4, 6, 8]

In [69]:
o

[1, 3, 5, 7, 9]

In [70]:
e,o = [[],[]]

In [71]:
e

[]

In [75]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
[i for i in lst]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
[i+10 for i in lst]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [81]:
[(i%2==0) for i in lst]

[True, False, True, False, True, False, True, False, True, False]

In [82]:
[i for i in lst if i%2==0]

[0, 2, 4, 6, 8]

In [92]:
[i if i%2==0 else 'odd' for i in lst]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [93]:
o=[]
[i if i%2==0 else o.append(i) for i in lst]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [94]:
o

[1, 3, 5, 7, 9]

In [95]:
["even" if i%2==0 else 'odd' for i in lst]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [98]:
e=[]
o=[]
[e.append(i) if i%2==0 else o.append(i) for i in lst]

[None, None, None, None, None, None, None, None, None, None]

In [101]:
o

[1, 3, 5, 7, 9]

In [100]:
e

[0, 2, 4, 6, 8]

In [102]:
['one' if v==1 else 'two' if v==2 else 'other' for v in lst]

['other',
 'one',
 'two',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other']

In [104]:
['one' if v==1 else 'two' if v==2 or v==4 else 'other' for v in lst]

['other',
 'one',
 'two',
 'other',
 'two',
 'other',
 'other',
 'other',
 'other',
 'other']

In [106]:
['even' if v%2==0 else 'odd' if v%2==1 else 'idle' for v in lst]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [107]:
['even' if v%2==0 else 'odd' if v%2==1 for v in lst]

SyntaxError: invalid syntax (<ipython-input-107-d5dd3a9c8aa7>, line 1)

In [108]:
#else mandatory in such case

In [109]:
lst= [i*2 for i in lst]

In [110]:
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [111]:
map(sum,lst)

In [112]:
list(map(sum,lst))

TypeError: 'int' object is not iterable

In [113]:
#map performs the function on iterable object, one element at a time

In [114]:
sum(lst)

90

In [116]:
def double_x(x):
    return x+x

In [117]:
double_x(10)

20

In [118]:
m= map(double_x, lst)

In [119]:
m

In [120]:
list(m)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [121]:
#map requires a function and iterator

In [122]:
#out 119 tells that a generator of type map is at this memory address

In [123]:
lambda x:x+X

In [124]:
doub_x= lambda x:x+x

In [128]:
m= map(doub_x, lst)

m

In [129]:
list(m)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [130]:
doubl_x = lambda x:double_x(x)

In [132]:
m= map(doubl_x, lst)

In [133]:
list(m)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [134]:
parity = lambda x: 'even' if x%2==0 else 'odd'

In [135]:
m= map(parity,lst)

In [136]:
list(m)

['even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even',
 'even']

In [137]:
parity = lambda x: 'even' if x%2==0

SyntaxError: invalid syntax (<ipython-input-137-1dd9fdec62a0>, line 1)

In [138]:
#else is mandatory

In [143]:
lst=range(10)
lst=list(lst)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
f=filter(lambda x: 1 if x%2==0 else 0, lst)

In [149]:
list(f)

[0, 2, 4, 6, 8]

In [152]:
f=filter(lambda x: True if x%2==0 else False, lst)

In [153]:
list(f)

[0, 2, 4, 6, 8]

In [154]:
#filter uses function which return value as true or false only, i.e, boolean functions

In [155]:
type(double_x)

function

In [156]:
#functions and methods are same by convention

In [159]:
class x:
    a=10
    b=12
    def fun(a,b):
        return a+b

In [160]:
x.a

10

In [161]:
x.mro

In [165]:
x.fun(x.a,x.a)

20

In [166]:
exp = x()
#object exp

In [167]:
class x:
    '''docstring comes here, class is made for tutorial'''
    a=10
    b=12
    def fun(a,b):
        return a+b

In [170]:
#write class name and press shift+tab you can see docstring

In [171]:
#docstrings are used for describing classes or functions

In [174]:
class x1(x):
    def aaa():
        print('d')

In [175]:
#example of inheritance, x1 is child class, x is parent class

In [176]:
x1.a

10

In [178]:
def x1.fun():
    return a*b

SyntaxError: invalid syntax (<ipython-input-178-54040de5c30a>, line 1)